option_settings:
        aws:rds:dbinstance:
            DBName: 'cvdmblog'
            DBUser: '{{resolve:secretsmanager:prod/CVDMBlog:SecretString:CVDM-DB-User}}'
            DBPassword: '{{resolve:secretsmanager:prod/CVDMBlog:SecretString:CVDM-DB-Password}}'
            DBEngine: 'mysql'
            DBEngineVersion: '8.0.28'