@{
ViewData["Title"] = "Home Page";
}
@model IEnumerable<Post>
<div class="text-center">
    <h1 class="display-4">Welcome to the Admin Panel!</h1>
</div>

<div>
    <ul>
        @foreach (var post in Model)
        {
        <li>
                @post.Title
            -
            <a asp-controller="Panel" asp-action="Edit" asp-route-slug="@post.Slug">
                Edit
            </a>
            -
            <a asp-controller="Panel" asp-action="Remove" asp-route-slug="@post.Slug">
                Remove
            </a>
        </li>
        }
    </ul>
</div>